* {
    font-family: "Fredoka", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body container */

#container {
    margin: 10px 300px 0px;
}

/* title and text */

.bigTitle {
    text-align: center;
    color: #E53170;
    margin: 30px;
}

p {
    margin-bottom: 30px;
    text-align: center;
}

/* boxes */

.boxContainer {
    width: 100%;
    margin: 0 auto;
    clear: both;
}

.box {
    width: calc(100% / 3);
    height: 100px;
    float: left;
    margin-bottom: 50px;
    overflow: auto;
}

.boximg {
    float: left;
    height: 100%;
}

/* infos */

.info {
    height: 100%;
    padding: 10px 10px 10px 120px;
    background-color: #0f0e17;
    margin-right: 40px;
    /* box-shadow: 3px 3px #888888; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info > h3, .job, .contact {
    line-height: 20px;
}

h3 {
    color: white;
    margin: 5px auto 5px;
}

.job {
    display: block;
    color: white;
    margin-bottom: 5px;
}

.contact {
    color: #338cb7;
}